body{
    font-family: 'Roboto', sans-serif;
    
    
}

.navbar{
    background-color: rgba(0, 0, 0, 0.952) ;
}

.navbar-brand{
    font-family: 'Red Hat Display', sans-serif;
}

#cabecalho .nav .nav-link.active{
    background-color: #ffffff0e;
    color: #ffffff;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover{
    color: #fff;
}

.carousel img{
    max-height: 720px; 
    width: 100%;
    
}

#eventos,
#fale-conosco{
    background-color: #f1f1f1;
}


.navbar-toggler{
    background-color: #ffeae6;
}

.section-title{
    font-family: 'Red Hat Display', sans-serif;
    font-style: italic;
    
}

#fotos h2{
    color: #fff;
}

.nav-fotos button {
    color: #fff;
}

#sobre-a-barbearia,
#inicio{
    background-color: rgba(0, 0, 0, 0.952);
    color: #ccc;
}

.text-colored{
    color: #f8bf03;
}

.nav-fotos .nav-link.active,
#fale-conosco button{
    background-color: rgba(0, 0, 0, 0.952);
    color: #fff;
}

.nav-fotos .nav-link:hover{
    color: rgb(97, 86, 86);
}

#sobre-a-barbearia {
    background-color: rgba(0, 0, 0, 0.952);
    
}

#fotos{
    background-color: rgba(0, 0, 0, 0.952);
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a{
    text-decoration: none;
    
}

#cortes img{
    height: 360px;

}

/* Para visualização em smartphones */
@media (max-width:378px) {
    .carousel-item img{
        height: 180px;
    }

    #sobre-a-barbearia{
        text-align: center;
        font-style: none;
        
    }

    #sobre-a-barbearia h2,
    #sobre-a-barbearia p {
        font-size: 16px;
    }   

    #sobre-a-barbearia img {
        display: none;
    }


}

@media (max-width:820px) {
    .carousel-item img{
        height: 380px;
    }

    #sobre-a-barbearia h2,
    #sobre-a-barbearia p {
        font-size: 16px;
    }

    .nav-fotos button {
        color: #fff;
        font-size: 14px !important;
    }

    #profissional p{
        font-size: 12px;
    }

    #cortes img{
        height: 360px;
    
    }
    
    .button-custon{
        font-size: small;
    }
}

@media (max-width:1180px) {
    #cortes img{
        height: 200px;
    }
}






